
.b-captcha-box {
    height: 78px;
    display: inline-block;
}

.b-captcha-container {
    min-width: 200px;
    min-height: 55px;
}

.b-captcha-answer {
    display: block;
}

.b-captcha-controls {
    vertical-align: top;
}

.b-captcha-controls > a {
    display: block;
}

.b-captcha-switch {
    min-height: 27px;
}

.b-captcha-refresh {
    min-height: 27px;
}
